# Loaded automatically on deploy when using --project fresh-prints-dev
# See: https://firebase.google.com/docs/functions/config-env
PORTAL_BASE_URL=http://localhost:3000
INVITATION_FROM_EMAIL="Fresh Prints <team@funkyfreshprints.com>"
